<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Informativo</title>
</head>
<html>
    <body>             
        <b>Cordial Saludos: </b> {{name}}
        <p>Ingresa en la siguiente URL: <a href="http://localhost:3000/change/{{id}}">Ir al proceso</a><br/>
           para que puedas cambiar tu contraseña.</p>
        <p><img src="https://i.blogs.es/779cea/como_localiza_fotos_robadas_10/1366_2000.jpg" alt="Sistema de facturación" width="150px"></p>
        Sistema de Facturacion HyMs
    </body>
</html>